{% extends 'main/layout.html'%}

{% block title%}Главная страница{% endblock %}
{% block content%}
<!--         <div class="features">
                <h1>Главная страница</h1>
                <p>Militaires Sans Frontières (с фр. — Солдаты без границ), сокращенно MSF, также известны как Внешний Рай — частная военная компания, основанная в 1970-х Биг Боссом. Из-за статуса наёмников, сомнительной тактики на поле боя, а также использования оффшорной передовой оперативной базы посреди Карибского моря в период с ноября 1974 по март 1975, часто зовутся врагами не иначе, как пиратами.</p>
                <button class="btn btn-warning">На страницу про нас</button>

        </div> -->


{% endblock %}
