{% extends 'main/layout.html'%}

{% block title%}Главная страница{% endblock %}
{% block content%}
<!--        <div class="features">-->
<!--&lt;!&ndash;                <h1>Главная страница</h1>&ndash;&gt;-->
<!--&lt;!&ndash;                <p>Militaires Sans Frontières (с фр. — Солдаты без границ), сокращенно MSF, также известны как Внешний Рай — частная военная компания, основанная в 1970-х Биг Боссом. Из-за статуса наёмников, сомнительной тактики на поле боя, а также использования оффшорной передовой оперативной базы посреди Карибского моря в период с ноября 1974 по март 1975, часто зовутся врагами не иначе, как пиратами.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-warning">На страницу про нас</button>&ndash;&gt;-->
<!--&lt;!&ndash;                <form method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                    {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ form.as_p }}&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="submit">Добавить</button>&ndash;&gt;-->
<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--            <form method="post">-->
<!--                {% csrf_token %}-->
<!--                <input name="название_твоего_поля" type="text" />-->
<!--                <button type="submit">Отправить</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    <h1>Мои заметки</h1>-->
<!--    <ul>-->
<!--        {% for note in notes %}-->
<!--            <li>-->
<!--                <strong>{{ note.title }}</strong> - {{ note.text }}-->
<!--                <small>создано {{ note.created_at|date:"D d M Y" }}</small>-->
<!--            </li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--    <a href="{% url 'add_note' %}">Добавить заметку</a>-->


{% endblock %}